# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\imy_workspace\Cytoscape_Kafka_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
